
<!-- <ion-header [translucent]="true" style="color: #121212;">
  <ion-toolbar>
    <ion-title>ajoutmosque</ion-title>[fullscreen]="true"
  </ion-toolbar>
</ion-header> -->

<div class="vert">
    .
  </div>
  
 <ion-content >
  
  <div class="contourt">
    <h1>Ajout Mosquées</h1>

    <div class="ioninput">
      <ion-label class="inpu">Nom :</ion-label>
      <ion-input class="custom.input" type="text"style="background-color:#fffffff1; border-radius: 20px; font-size: 25px; text-align: center;font-family: poppins"></ion-input>
    </div>
    
    <div class="ioninput">
      <ion-label class="inpu">Adresse :</ion-label>
      <ion-input type="text" style="background-color:#fffffff1; border-radius: 20px; text-align: center; font-size: 25px;font-family: poppins;"></ion-input>
    </div>
    <h2>Heure de prière :</h2>

  <div class="contour-input" >
      <div class="first" >
        <div>
          <ion-label position="floating"style="margin-left: 10px; font-weight: bold;"></ion-label>
          <ion-input type="text"  class="input"placeholder="Fadjr"></ion-input>
        </div>
          
         <div>
          <ion-label position="floating"style="margin-left: 10px; font-weight: bold;"></ion-label>
          <ion-input type="text"  class="input"placeholder="Magreb"></ion-input>
        </div>
        
        </div>
        <div class="seconds">
          <div>
            <ion-label position="floating" style="margin-left: 10px; font-weight: bold;"></ion-label>
            <ion-input type="text" class="input" placeholder="Zohr" ></ion-input>
          </div>
      
          <div>
          <ion-label position="floating" style="margin-left: 10px; font-weight: bold;"></ion-label>
          <ion-input type="text" class="input" placeholder="Isha"></ion-input>
        </div>
        </div>

        <div class="third">
          <div>
            <ion-label position="floating" style="margin-left: 10px; font-weight: bold;"></ion-label>
            <ion-input type="text"  class="input" placeholder="Asr" ></ion-input>
          </div>
      
          <div>
          <ion-label position="floating" style="margin-left: 10px; font-weight: bold;"></ion-label>
          <ion-input type="text"class="input" placeholder="Djouma"></ion-input>
        </div>
        </div>
    </div>
    <div class="button"> 
      <input style="width: 50%;" type="submit" value="Ajouter" class="submit"></div>
   
  </div>
</ion-content>
