<!-- entete -->
<ion-content class="contenant">
  <div class="container">
  <div class="color">
    <h1 class="ion-title">LISTE ANNONCE</h1>
    <div class="color2"></div>
   
  </div>
      <!-- mes buttons -->
  <div class="haut">
      <div class="ajout">
         <ion-icon style="margin-top:-2px; font-size: 10px;" color="light" name="add-outline"></ion-icon>  <ion-title style="margin-top: -27px; margin-left: 13px; color: white;">Ajouter</ion-title>   
      </div>
      <!-- <div class="recherche" >
        <ion-searchbar show-clear-button="always" value="search" ></ion-searchbar>
      </div> -->
      <div class="search-container">
        <input type="search" value="" class="recherche">
        <div class="search-icon">
          <ion-icon name="search-outline"></ion-icon>
          <!-- <ion-searchbar show-clear-button="always" cancel-button="true" [(ngModel)]="searchTerm"></ion-searchbar> -->
        </div>
        <ion-icon name="close-outline" class="annuler"></ion-icon>
      </div>
    </div>
     

      
      <!-- ENTETE LISTE -->

      <br>
      <table class="conatiner_table">
        <thead>
          <tr>
            <th><ion-label class="ecriture">Date</ion-label></th>
            <th><ion-label class="ecriture"><span class="dessus">Noms</span> Mosquées</ion-label></th>
            <th><ion-label class="ecriture"><span class="dessus">Heures</span> Preches</ion-label></th>
            <th><ion-label class="ecriture"><span class="dessus">Heures</span> Tabsir</ion-label></th>
            <th><ion-label class="ecriture"> Actions</ion-label></th>
          </tr>
        </thead>
        <br>
        <tbody>
          <tr class="custom-row">
            <td><ion-label class="write">jj/mm/date</ion-label></td>
            <td><ion-label class="write">Djingaraye</ion-label></td>
            <td><ion-label class="write">13h00</ion-label></td>
            <td><ion-label class="write">16h00</ion-label></td>
            <td>
              <ion-buttons slot="end">
                  <!-- Icône de modification -->
                  <ion-icon name="create"></ion-icon>
                  <!-- Icône de suppression -->
                  <ion-icon name="trash" style="color: #FF1203;"></ion-icon>
              </ion-buttons>
            </td>
            <td></td>
          </tr>
          <br><br>
          <tr class="custom-row">
            <td><ion-label class="write">jj/mm/date</ion-label></td>
            <td><ion-label class="write">Djingaraye</ion-label></td>
            <td><ion-label class="write">13h00</ion-label></td>
            <td><ion-label class="write">16h00</ion-label></td>
            <td>
              <ion-buttons slot="end">
                  <!-- Icône de modification -->
                  <ion-icon name="create"></ion-icon>
                  <!-- Icône de suppression -->
                  <ion-icon name="trash" style="color: #FF1203;"></ion-icon>
              </ion-buttons>
            </td>
            <td></td>
          </tr>
          <br>
          <tr class="custom-row">
            <td><ion-label class="write">jj/mm/date</ion-label></td>
            <td><ion-label class="write">Djingaraye</ion-label></td>
            <td><ion-label class="write">13h00</ion-label></td>
            <td><ion-label class="write">16h00</ion-label></td>
            <td>
              <ion-buttons slot="end">
                  <!-- Icône de modification -->
                  <ion-icon name="create"></ion-icon>
                  <!-- Icône de suppression -->
                  <ion-icon name="trash" style="color: #FF1203;"></ion-icon>
              </ion-buttons>
            </td>
            <td></td>
          </tr>
          <br>
          <tr class="custom-row">
            <td><ion-label class="write">jj/mm/date</ion-label></td>
            <td><ion-label class="write">Djingaraye</ion-label></td>
            <td><ion-label class="write">13h00</ion-label></td>
            <td><ion-label class="write">16h00</ion-label></td>
            <td>
              <ion-buttons slot="end">
                  <!-- Icône de modification -->
                  <ion-icon name="create"></ion-icon>
                  <!-- Icône de suppression -->
                  <ion-icon name="trash" style="color: #FF1203;"></ion-icon>
              </ion-buttons>
            </td>
            <td></td>
          </tr>
          <br>
          <tr class="custom-row">
            <td><ion-label class="write">jj/mm/date</ion-label></td>
            <td><ion-label class="write">Djingaraye</ion-label></td>
            <td><ion-label class="write">13h00</ion-label></td>
            <td><ion-label class="write">16h00</ion-label></td>
            <td>
              <ion-buttons slot="end">
                  <!-- Icône de modification -->
                  <ion-icon name="create"></ion-icon>
                  <!-- Icône de suppression -->
                  <ion-icon name="trash" style="color: #FF1203;"></ion-icon>
              </ion-buttons>
            </td>
            <td></td>
          </tr>
          <br>
          <tr class="custom-row">
            <td><ion-label class="write">jj/mm/date</ion-label></td>
            <td><ion-label class="write">Djingaraye</ion-label></td>
            <td><ion-label class="write">13h00</ion-label></td>
            <td><ion-label class="write">16h00</ion-label></td>
            <td>
              <ion-buttons slot="end">
                  <!-- Icône de modification -->
                  <ion-icon name="create"></ion-icon>
                  <!-- Icône de suppression -->
                  <ion-icon name="trash" style="color: #FF1203;"></ion-icon>
              </ion-buttons>
            </td>
            <td></td>
          </tr>

        </tbody>

        
      </table>





    